<form #registerForm="ngForm" (ngSubmit)="register()">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
    <!-- Values that comes from Parent component
    <div class="form-group">
      <label for="favouriteValue">What is your favorite value</label>
      <select class="form-control" id="favouriteValue">
        <option *ngFor="let value of valueFromHome" [value]="value">{{value.name}}</option>
      </select>
    </div>
    -->
    <div class="form-group">
      <input type="text" class="form-control" #username="ngModel" name="username" required [(ngModel)]="model.username" placeholder="Username">
    </div>
    <div *ngIf="username.invalid && username.touched" class="alert alert-danger">
        <div *ngIf="!!username.errors.required" class="text-danger">Username is required</div>
    </div>

    <div class="form-group">
      <input type="password" class="form-control" name="password" #password="ngModel" minlength="4"
      required [(ngModel)]="model.password" placeholder="Password">
    </div>
    <div *ngIf="password.invalid && password.touched" class="alert alert-danger">
        <div *ngIf="!!password.errors.required" class="text-danger">password is required</div>
        <div *ngIf="!!password.errors.minlength"class="text-danger">Should be minimum of 4</div>
    </div>
  
    <div class="form-group text-center">
      <button class="btn btn-info mr-2" type="submit" [disabled]="!registerForm.valid">Register</button>
      <a class="btn btn-secondary text-light" (click)="cancel()">Cancel</a>
    </div>
    
  </form>